// Navigation code here
.nav {
    
    &-list {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &-item + .nav-item {
        margin-left: 4%;
    }

    &-link {
        color: @header-font-color;
        font-size: 1.8rem;
        letter-spacing: -.1rem;
        text-decoration: none;
    }
}
